
 <div *ngIf="customers?.length > 0; else noCustomers">
    <ul *ngFor =" let customer of customers">
      
        <li>{{customer.id}}</li>
        <li>{{customer.name}}</li>
        <li>{{customer.policyno }}</li>
        <li>{{customer.carreg}}</li>
        <li>{{customer.insurance }}</li>
        <li>{{ customer.startdate }}</li>
        <li>{{ customer.expirydate }}</li>
    
        <!-- <qrcode [qrdata]="qrdata" [size]="256" [level]="'M'"></qrcode> -->
      </ul>
    </div>
    <ng-template #noCustomers>
   <p>Sorry The Car Registration is not found</p>
    </ng-template>



